body {
     background-color: #f5f5f5;
     text-align: center;
}

h3:before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}

span {
     display: block;
}

#profile {
  
}

p {
  
}

ul {
   padding: 5px;
   margin-top: 5px;
   list-style-type: none;
}

ul li {
   display: inline;
   padding-right: 5px;
}

ul li > a {
   color: black;
}

ul li > a:hover {
   text-decoration: none;
}