body {
  background-color: #f5f5f5;
  font-family: monospace;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
}

ul {
 list-style-type: none;
 margin: 5px;
}

ul li {
   display: inline;
   padding-right: 5px;
}

#about {
  text-align: left;
}

#profile {
  backface-visibility: hidden;
  background-color: #f5f5f5;
  border-radius: 20%;
  display: block;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 20px;
  overflow: hidden;
}

img {
  border: 0px none;
  width: 140px;
  vertical-align: middle;
}

#books {
  float: center;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 20px;
}

#books > ul {
  margin-left: 20%;  
}

#books > ul li {
  display: list-item;
  float: left;
  list-style-type: disc;
  text-align: left;
}
