h1 {
   text-align: center;
}

#sidebar-menu {
   padding: 20px;
}

#sidebar-menu > ul > li {
   padding: 10px;
}

#sidebar-menu > ul > li > a {
   color: rgb(30, 240, 150);
}

#sidebar-menu > ul > li > a:hover {
   text-decoration: none;
}