body {
  background-color: #f5f5f5;
  font-family: monospace;
  -moz-osx-font-smoothing: grayscale;
}

.Nav ul {
  list-style-type: none;
}

.Nav {
  text-align: center;
}

.NavItem {
  display: inline;
}

.MainContent {
  margin: 20px;
}

img {
  border-radius: 50%;
}