@import "./animations.scss";

body {
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;

  ::first-letter {
    font: x-large;
  }
}

a:hover,
button:hover {
  color: #00573b;
}

img {
  border-radius: 5%;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}
