.container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0;
    text-align: center;

    img {
        margin-bottom: 0;
    }
}

// TODO: This isn't very programmatic/extensible as more projects are added.
// Do better.
.project:nth-child(1) {
    grid-column: 1 / span 2;
}

.project:nth-child(2) {
    grid-column: 3;
}

.project:nth-child(3) {
    grid-column: 1 / span 3;
}

.project:nth-child(4) {
    grid-column: 1;
}

.project:nth-child(5) {
    grid-column: 2 / span 2;
}

.linkProject {
    font-weight: 600;
    margin-top: 50%;

    a {
        text-decoration: none;
    }
}

.project:hover {
    img, video {
        opacity: 0.2;
    }

    .overlay {
        visibility: visible;
    }
}

.overlay {
    color: #005875;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    visibility: hidden;
}

img, video {
    & + .overlay {
        bottom: 50%;
        position: relative;
    }
}