.container {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    border: 8px solid transparent;
    border-image: repeating-linear-gradient(
      135deg,
      black,
      black 10px,
      yellow 10px,
      yellow 20px
    ) 12;
    font: 14px bold;
    padding: 4px;
    margin-bottom: 16px;
}